@{
    ViewData["Title"] = "Home Page";
}

<!--====================================
=            Hero Section            =
=====================================-->
<section class="section gradient-banner">
    <div class="shapes-container">
        <div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
        <div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
        <div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
        <div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
        <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
        <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
        <div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
        <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
        <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
        <div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
        <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
        <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
        <div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
        <div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
        <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
        <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1 text-center text-md-left">
                <h1 class="text-white font-weight-bold mb-4">Toggly Feature Flag Demo</h1>
                <p class="text-white mb-5">
                    Release features across your App, API, and Landing Pages across multiple teams, and just flip the switches when it's ready.
                </p>
                <a href="https://github.com/ops-ai/Toggly.FeatureManagement" target="_blank" class="btn btn-main-md">Browse on Github</a>
            </div>
            <feature name="@FeatureFlags.HomepagePhoto">
                <div class="col-md-6 text-center order-1 order-md-2">
                    <img class="img-fluid" src="~/images/mobile.png" alt="screenshot">
                </div>
            </feature>
        </div>
    </div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
    <div class="container">
        <div class="rounded shadow p-5 bg-white">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                    <i class="ti-paint-bucket text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Faster QA Cycles</h3>
                    <p class="regular text-muted">
                        Release new features and bug fixes under feature flags. QA can turn on the feature when they're ready to test. Business can turn it on when it makes sense.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                    <i class="ti-shine text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Measure Delivered Value</h3>
                    <p class="regular text-muted">
                        Measure feature checks, feature usage and business metrics, and run experiments to see impact of new features.
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
                    <i class="ti-thought text-primary h1"></i>
                    <h3 class="mt-4 text-capitalize h5 ">Uncomplicate Things</h3>
                    <p class="regular text-muted">
                        Know when a feature was turned on/off with complete audit reports - correlate with your log analytics / ops to see if a problem started once a new feature was introduced.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==================================
=            Feature Grid            =
===================================-->
<section class="feature section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto justify-content-center">
                <!-- Feature Mockup -->
                <div class="image-content" data-aos="fade-right">
                    <img class="img-fluid" src="~/images/feature/feature-new-01.jpg" alt="iphone">
                </div>
            </div>
            <div class="col-lg-6 mr-auto align-self-center">
                <div class="feature-content">
                    <!-- Feature Title -->
                    <h2>
                        Increase your productivity with <a href="https://toggly.io">Toggly</a>
                    </h2>
                    <!-- Feature Description -->
                    <p class="desc">
                        Build features that really make an impact on your business and your users love, with A/B testing, business metrics, feature metrics. Your team, powered by realtime impact data.
                    </p>
                </div>
                <!-- Testimonial Quote -->
                <div class="testimonial">
                    <p>
                        "Toggly helped us improve our DORA metrics overnight. We release continuously now."
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto align-self-center">
                <div class="feature-content">
                    <!-- Feature Title -->
                    <h2>
                        Build a Culture Of Experimentation
                    </h2>
                    <!-- Feature Description -->
                    <p>
                        Build features that really make an impact on your business and your users love, with A/B testing, business metrics, feature metrics. Your team, powered by realtime impact data.
                    </p>
                </div>
                <!-- Testimonial Quote -->
                <div class="testimonial">
                    <p>
                        "Innovate continuously the way Uber and Netflix do using feature flags in a developer and manager-friendly platform that lets you toggle features, A/B test, and view insights and metrics."
                    </p>
                </div>
            </div>
            <div class="col-lg-6 mr-auto justify-content-center">
                <!-- Feature mockup -->
                <div class="image-content" data-aos="fade-left">
                    <img class="img-fluid" src="~/images/feature/feature-new-02.jpg" alt="ipad">
                </div>
            </div>
        </div>
    </div>
</section>
<!--====  End of Feature Grid  ====-->
<!--==============================
=            Services            =
===============================-->
<section class="service section bg-gray">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Streamline Relases</h2>
                    <p>
                        Release Continuously And Turn On When Ready
                    </p>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 align-self-center">
                <!-- Feature Image -->
                <div class="service-thumb left" data-aos="fade-right">
                    <img class="img-fluid" src="~/images/feature/iphone-ipad.jpg" alt="iphone-ipad">
                </div>
            </div>
            <div class="col-lg-5 mr-auto align-self-center">
                <div class="service-box">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-xs-12">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-bookmark"></i>
                                <!-- Heading -->
                                <h3>Separate releasing from deploying</h3>
                                <!-- Description -->
                                <p>You can switch feature flags (feature toggles/switches) on and off at any time in production, instantly, without redeploying</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-pulse"></i>
                                <!-- Heading -->
                                <h3>Test a feature on a target audience</h3>
                                <!-- Description -->
                                <p>Choose who your audience is based on user claims, part of a group, time of day, and more.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-bar-chart"></i>
                                <!-- Heading -->
                                <h3>Test new features</h3>
                                <!-- Description -->
                                <p>Turn features on for a specific time frame, collect metrics and feedback, turn them off, and fix bugs before turning them on again</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <!-- Service 01 -->
                            <div class="service-item">
                                <!-- Icon -->
                                <i class="ti-panel"></i>
                                <!-- Heading -->
                                <h3>Audit</h3>
                                <!-- Description -->
                                <p>Know when a feature was turned on/off in each environment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====  End of Services  ====-->

<feature name="@FeatureFlags.HomepagePromoVideo">
    <!--=================================
    =            Video Promo            =
    ==================================-->
    <section class="video-promo section bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-block">
                        <!-- Heading -->
                        <h2>Watch Our Promo Video</h2>
                        <!-- Promotional Speech -->
                        <p>
                            Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et,
                            porttitor at sem. Vivamus
                        </p>
                        <!-- Popup Video -->
                        <a data-fancybox href="https://www.youtube.com/watch?v=jrkvirglgaQ">
                            <i class="ti-control-play video"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====  End of Video Promo  ====-->
</feature>

<feature name="@FeatureFlags.Testimonials">
    <!--=================================
    =            Testimonial            =
    ==================================-->
    <section class="section testimonial" id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Testimonial Slider -->
                    <div class="testimonial-slider owl-carousel owl-theme">
                        <!-- Testimonial 01 -->
                        <div class="item">
                            <div class="block shadow">
                                <!-- Speech -->
                                <p>
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
                                    Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                                    pretium ut lacinia in, elementum id enim.
                                </p>
                                <!-- Person Thumb -->
                                <div class="image">
                                    <img src="~/images/testimonial/feature-testimonial-thumb.jpg" alt="image">
                                </div>
                                <!-- Name and Company -->
                                <cite>Abraham Linkon , Demo Company</cite>
                            </div>
                        </div>
                        <!-- Testimonial 01 -->
                        <div class="item">
                            <div class="block shadow">
                                <!-- Speech -->
                                <p>
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
                                    Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                                    pretium ut lacinia in, elementum id enim.
                                </p>
                                <!-- Person Thumb -->
                                <div class="image">
                                    <img src="~/images/testimonial/feature-testimonial-thumb.jpg" alt="image">
                                </div>
                                <!-- Name and Company -->
                                <cite>Abraham Linkon , Demo Company</cite>
                            </div>
                        </div>
                        <!-- Testimonial 01 -->
                        <div class="item">
                            <div class="block shadow">
                                <!-- Speech -->
                                <p>
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
                                    Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                                    pretium ut lacinia in, elementum id enim.
                                </p>
                                <!-- Person Thumb -->
                                <div class="image">
                                    <img src="~/images/testimonial/feature-testimonial-thumb.jpg" alt="image">
                                </div>
                                <!-- Name and Company -->
                                <cite>Abraham Linkon , Demo Company</cite>
                            </div>
                        </div>
                        <!-- Testimonial 01 -->
                        <div class="item">
                            <div class="block shadow">
                                <!-- Speech -->
                                <p>
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
                                    Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                                    pretium ut lacinia in, elementum id enim.
                                </p>
                                <!-- Person Thumb -->
                                <div class="image">
                                    <img src="~/images/testimonial/feature-testimonial-thumb.jpg" alt="image">
                                </div>
                                <!-- Name and Company -->
                                <cite>Abraham Linkon , Demo Company</cite>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====  End of Testimonial  ====-->
</feature>

<feature name="@FeatureFlags.AppDownloadLinks">
    <section class="call-to-action-app section bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>It's time to change your mind</h2>
                    <p>
                        Download over 2 million apps.
                        <br>We say you won’t look back.
                    </p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="" class="btn btn-rounded-icon">
                                <i class="ti-apple"></i>
                                Iphone
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-rounded-icon">
                                <i class="ti-android"></i>
                                Android
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-rounded-icon">
                                <i class="ti-microsoft-alt"></i>
                                Windows
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</feature>