# yaml-language-server: $schema=https://aka.ms/winget-manifest.installer.1.6.0.schema.json
PackageIdentifier: Opsai.TogglyCLI
PackageVersion: "{{VERSION}}"
InstallerType: zip
NestedInstallerType: portable
NestedInstallerFiles:
  - RelativeFilePath: toggly-cli.exe
    PortableCommandAlias: toggly
Installers:
  - Architecture: x64
    InstallerUrl: https://github.com/ops-ai/Toggly.FeatureManagement/releases/download/cli-v{{VERSION}}/toggly-cli-windows-x64.zip
    InstallerSha256: "{{SHA256_WINDOWS_X64}}"
ManifestType: installer
ManifestVersion: 1.6.0
