# yaml-language-server: $schema=https://aka.ms/winget-manifest.defaultLocale.1.6.0.schema.json
PackageIdentifier: Opsai.TogglyCLI
PackageVersion: "{{VERSION}}"
PackageLocale: en-US
Publisher: Opsai LLC
PublisherUrl: https://toggly.io
PublisherSupportUrl: https://docs.toggly.io/sdks/cli
PackageName: Toggly CLI
PackageUrl: https://docs.toggly.io/sdks/cli
License: MIT
LicenseUrl: https://github.com/ops-ai/Toggly.FeatureManagement/blob/develop/LICENSE
ShortDescription: Command-line interface for Toggly feature flag management.
Tags:
  - toggly
  - feature-flags
  - cli
ManifestType: defaultLocale
ManifestVersion: 1.6.0
